test-deploy/

wp/.phpcs.xml.dist
wp/composer*

wp/public/.htaccess
wp/public/info.php

wp/vendor
wp/public/wordpress
wp/public/wp-content
wp/public/wp-content/uploads
wp/public/wp-content/debug.log

.env*
.env.*

deploy.sh
install.sh

a_m.code-workspace

docker/
docker-compose.yml

README.md