.vscode

wp/vendor

wp/public/.htaccess
wp/public/wordpress

wp/public/wp-content/plugins
wp/public/wp-content/mu-plugins
wp/public/wp-content/uploads
wp/public/wp-content/themes/a_m_theme
wp/public/wp-content/debug.log

.env
theme
*.log
node_modules
id_*