wp/.phpcs.xml.dist

.logs

wp/public/.htaccess
wp/public/info.php

wp/public/wordpress
wp/public/wp-content/plugins
wp/public/wp-content/mu-plugins
wp/public/wp-content/uploads
wp/public/wp-content/debug.log
wp/public/wp-content/themes/a_m_theme

.env*
*/.env.*

wp/vendor

a_m.code-workspace

docker/
docker-compose.yml

README.md